<a href="https://colab.research.google.com/github/Alice1304/1day1commit/blob/main/%EC%8B%A4%EC%8A%B5/SECTION5/N511.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 정규표현식 라이브러리 불러오기

import re

In [ ]:
#search 사용하기

In [ ]:
wordlist = ["color", "colour", "work", "working",
            "fox", "worker", "working"]

In [ ]:
for word in wordlist:
  if re.search('col.r',word): #search(패턴, 문자열, 플래그), #패턴이 비슷한 
    print(word)

color

In [ ]:
#match, span, group 사용하기

In [ ]:
regular_expressions = '<html><head><title>Title</title>'
print(len(regular_expressions))

32

In [ ]:
print(re.match('<.*>', regular_expressions).span())

(0, 32)

In [ ]:
print(re.match('<.*>', regular_expressions).group())

<html><head><title>Title</title>

In [ ]:
#copile, verbose

In [ ]:
# case 1_1
phone = re.compile("""
010-    # 핸드폰 앞자리 
\d{4}-  # 중간자리
\d{4}  # 뒷자리
""", re.VERBOSE)

In [ ]:
# case 1_2
phone = re.compile("010-\d{4}-\d{4}")

In [ ]:
# case 1_3
info = ['홍길동 010-1234-1234', '고길동 010-5678-5679']

for text in info:
    match_object = phone.search(text)
    print(match_object.group())

010-1234-1234
010-5678-5679

In [ ]:
#escape 문자 활용하기

In [ ]:
print("     \rHello")
print("     Hello")

Hello
     Hello

In [ ]:
# raw string 활용하기

In [ ]:
print('raw string을 사용하지 않고고\b 문자 출력하기')
print(r'raw string을 사용하지 않지 않고고\b 문자 출력하기')

# 파일 경로 출력하기
print('C:\programs\nayana')
print('C:\\programs\\nayana')
print(R'C:\programs\nayana')

raw string을 사용하지 않고고 문자 출력하기
raw string을 사용하지 않지 않고고\b 문자 출력하기
C:\programs
ayana
C:\programs\nayana
C:\programs\nayana

In [ ]:
#rjust(width, [fillchar]) width에 fillchar 만큼 채우기

In [ ]:
# "002"
print("2".rjust(3,"0"))
 
# "50000"
print("50000".rjust(5,"0"))
 
# "00123"
print("123".rjust(5,"0"))
 
# "aa123"
print("123".rjust(5,"a"))

002
50000
00123
aa123

In [ ]:
#zfill(width) 지정한 양만큼 0 채워주기

In [ ]:
# "002"
print("2".zfill(3))
 
# "50000"
print("50000".zfill(5))
 
# "00123"
print("123".zfill(5))

002
50000
00123

In [ ]:
#split

In [ ]:
string_ = "Hello, I am Jack and I am a data scientist"
print(string_)
print(string_[1])

Hello, I am Jack and I am a data scientist
e

In [ ]:
string_list = string_.split("a")
string_list

['Hello, I ', 'm J', 'ck ', 'nd I ', 'm ', ' d', 't', ' scientist']

In [ ]:
string_.startswith('Hello')

True

In [ ]:
string_.endswith('scientist')

True

In [ ]:
string_.endswith('tist')

True

In [ ]:
print(string_.replace("Jack", "John"))
print(string_)

Hello, I am John and I am a data scientist
Hello, I am Jack and I am a data scientist

In [ ]:
#얕은 복사 & 깊은 복사

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits_copy = fruits.copy()
fruits_copy

{'apple', 'banana', 'cherry'}

In [ ]:
a = {'a': 5, 'b': 4, 'c': 8}
b = a
del b['a']
print(b)
print(a)

{'b': 4, 'c': 8}
{'b': 4, 'c': 8}

In [ ]:
import copy
a = {'a': 5, 'b': 4, 'c': 8}
b = a.copy()
del b['a']
print(b)
print(a)

{'b': 4, 'c': 8}
{'a': 5, 'b': 4, 'c': 8}

In [ ]:
import copy
list_var = [[1,2],[3,4]]
list_var_deepcopy = copy.deepcopy(list_var)
list_var_copy = list_var.copy()

list_var[1].append(5)

print(list_var)  # 원래 변수

print(list_var_deepcopy)  # deepcopy : append와 같은 메소드를 써도 값이 변경되지 않음

print(list_var_copy)  # copy : 원본이 변경되었으므로 함께 변경됨

[[1, 2], [3, 4, 5]]
[[1, 2], [3, 4]]
[[1, 2], [3, 4, 5]]

In [ ]:
#반복문과 조건문

In [ ]:
# case 1
data = [90, 45, 32, 44]
for i in range(len(data)):
   print(data[i]) # 90, 45, 32, 44

90
45
32
44

In [ ]:
# case 2
mock_data = {
  "id": 1,
  "first_name": "states",
  "last_name": "code",
  "email": "code@states.com",
  "gender": "Female",
  "ip_address": "123.123.123.23"
}

for x in mock_data:
    print(x) # id, first_name, last_name, email, gender, ip_address

id
first_name
last_name
email
gender
ip_address

In [ ]:
mock_data['id']

1

In [ ]:
# case 3
mock_data = {
  "id": 1,
  "first_name": "states",
  "last_name": "code",
  "email": "code@states.com",
  "gender": "Female",
  "ip_address": "123.123.123.23"
}

for x in mock_data.keys():
    print(x)

id
first_name
last_name
email
gender
ip_address

In [ ]:
# case 4
mock_data = {
  "id": 1,
  "first_name": "states",
  "last_name": "code",
  "email": "code@states.com",
  "gender": "Female",
  "ip_address": "123.123.123.23"
}

for x in mock_data.values():
    print(x)

1
states
code
code@states.com
Female
123.123.123.23

In [ ]:
# case 5 
mock_data = {
  "id": 1,
  "first_name": "states",
  "last_name": "code",
  "email": "code@states.com",
  "gender": "Female",
  "ip_address": "123.123.123.23"
}

for x in mock_data.items():
    print(x)

for k,v in mock_data.items():
    print(k,v)

('id', 1)
('first_name', 'states')
('last_name', 'code')
('email', 'code@states.com')
('gender', 'Female')
('ip_address', '123.123.123.23')
id 1
first_name states
last_name code
email code@states.com
gender Female
ip_address 123.123.123.23

In [ ]:
# 일반적인 반복문 활용
a = [1,2,3,4,5]
b = [10,20,30,40,50]
for i in range(len(a)):
    print(a[i],b[i])

1 10
2 20
3 30
4 40
5 50

In [ ]:
# zip 함수 활용
a = [1,2,3,4,5]
b = [10,20,30,40,50]
print(list(c))

[(1, 10), (2, 20), (3, 30), (4, 40), (5, 50)]

In [ ]:
# 반복문과 zip 활용
a = [1,2,3,4,5]
b = [10,20,30,40,50]
c = [100,200,300,400,500]
for x,y,z in zip(a,b,c):
    print(x,y,z)

1 10 100
2 20 200
3 30 300
4 40 400
5 50 500

In [ ]:
# break
IntCollection=[0,1,2,3,4,5,6,7]
for x in IntCollection:
    if(x==3):
        break
    else:
        print(x)

0
1
2

In [ ]:
# continue
IntCollection=[0,1,2,3,4,5,6,7]
for x in IntCollection:
    if(x==3):
        continue
    else:
        print(x)

0
1
2
4
5
6
7

In [ ]:
# 반복문의 다양한 활용
list_ = [1,2,3,4,5]

def foo(list_):
    print(list_)

print('foo(list_[i])')
for i in range(len(list_)):
    foo(list_[i])

print('foo(element)')
for element in list_:
    foo(element)

foo(list_[i])
1
2
3
4
5
foo(element)
1
2
3
4
5

In [ ]:
#에러만들기

In [ ]:
# 케이스 1 - IndentationError

def print_list(list):
for item in list: # 에러 확인 및 해결필요
print(item)

IndentationError: ignored

In [ ]:
# 케이스 1 - IndentationError

list = [1,2,3,4,5] 
def print_list(list):
  print(list)

for item in list: # 에러 확인 및 해결필요
  print(item)

1
2
3
4
5

In [ ]:
# 케이스 2 - SyntaxError

123ddf

SyntaxError: ignored

In [ ]:
# 케이스 2 - SyntaxError

a = '123ddf'

In [ ]:
# 케이스 3 - KeyboardInterrupt

while True:
  pass

KeyboardInterrupt: ignored

In [ ]:
my_list=[]
for i in range(1000, 2200):
    if (i%7==0) and (i%5!=0): #7의 배수중에 5의 배수가 아닌 것들 
        my_list.append(str(i))

print(','.join(my_list))

1001,1008,1022,1029,1036,1043,1057,1064,1071,1078,1092,1099,1106,1113,1127,1134,1141,1148,1162,1169,1176,1183,1197,1204,1211,1218,1232,1239,1246,1253,1267,1274,1281,1288,1302,1309,1316,1323,1337,1344,1351,1358,1372,1379,1386,1393,1407,1414,1421,1428,1442,1449,1456,1463,1477,1484,1491,1498,1512,1519,1526,1533,1547,1554,1561,1568,1582,1589,1596,1603,1617,1624,1631,1638,1652,1659,1666,1673,1687,1694,1701,1708,1722,1729,1736,1743,1757,1764,1771,1778,1792,1799,1806,1813,1827,1834,1841,1848,1862,1869,1876,1883,1897,1904,1911,1918,1932,1939,1946,1953,1967,1974,1981,1988,2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198

In [ ]:
my_list=[]
for i in range(1000, 2200):
    if (i%7==0) and (i%5!=0):
        my_list.insert(len(my_list), str(i))

print(','.join(my_list))

1001,1008,1022,1029,1036,1043,1057,1064,1071,1078,1092,1099,1106,1113,1127,1134,1141,1148,1162,1169,1176,1183,1197,1204,1211,1218,1232,1239,1246,1253,1267,1274,1281,1288,1302,1309,1316,1323,1337,1344,1351,1358,1372,1379,1386,1393,1407,1414,1421,1428,1442,1449,1456,1463,1477,1484,1491,1498,1512,1519,1526,1533,1547,1554,1561,1568,1582,1589,1596,1603,1617,1624,1631,1638,1652,1659,1666,1673,1687,1694,1701,1708,1722,1729,1736,1743,1757,1764,1771,1778,1792,1799,1806,1813,1827,1834,1841,1848,1862,1869,1876,1883,1897,1904,1911,1918,1932,1939,1946,1953,1967,1974,1981,1988,2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198

In [ ]:
words = []
while True:
    char = input()
    if char:
        words.append(char.upper())
    else:
        # while 문을 통해 char = input() 의 입력을 계속해서 받으므로,
        # 입력할 데이터가 끝났으면 아무것도 입력하지 않고 엔터를 입력한다.
        break;

for word in words:
    print(word)

apple
banana
foofoo

APPLE
BANANA
FOOFOO

In [ ]:
values = []
for i in range(100, 300):
    char = str(i)

    if (int(char[0])%2==0) and (int(char[2])%2==0): #0 = 맨 앞자리, 2 맨 뒷자리 
        values.append(char)

print(",".join(values))

200,202,204,206,208,210,212,214,216,218,220,222,224,226,228,230,232,234,236,238,240,242,244,246,248,250,252,254,256,258,260,262,264,266,268,270,272,274,276,278,280,282,284,286,288,290,292,294,296,298

In [ ]:
list_1 = ['bread', 'meat']
list_2 = ['Lettuce',2 ,5]
list_1.extend(list_2)
print('list1: {}, list2: {}'.format(list_1, list_2))

list1: ['bread', 'meat', 'Lettuce', 2, 5], list2: ['Lettuce', 2, 5]

In [ ]:
# append와 extend 두 메소드의 차이점에 주의하자

# '리스트' 추가  
flavors1 = ['Vanilla', 'Chocolate']
flavors1.append(['Strawberry', 'MintChocolate'])
print(flavors1)

flavors2 = ['Vanilla', 'Chocolate']
flavors2.extend(['Strawberry', 'MintChocolate'])
print(flavors2)


# '문자열' 추가
flavors3 = ['Vanilla', 'Chocolate','Strawberry']
flavors3.append('MintChocolate')
print(flavors3)

flavors4 = ['Vanilla', 'Chocolate','Strawberry']
flavors4.extend('MintChocolate')
print(flavors4)

['Vanilla', 'Chocolate', ['Strawberry', 'MintChocolate']]
['Vanilla', 'Chocolate', 'Strawberry', 'MintChocolate']
['Vanilla', 'Chocolate', 'Strawberry', 'MintChocolate']
['Vanilla', 'Chocolate', 'Strawberry', 'M', 'i', 'n', 't', 'C', 'h', 'o', 'c', 'o', 'l', 'a', 't', 'e']

In [ ]:
list1 = [11, 12, 43, 4, 6]
for i in list1.copy():
    if not i % 2:        
        list1.remove(i)
print(list1)

[11, 43]

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list[0] = 99
print(my_list)

del my_list[0]
print(my_list)

[99, 2, 3, 4, 5]
[2, 3, 4, 5]

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list[0] = 99
print(my_list)

my_list.pop()
print(my_list)

[99, 2, 3, 4, 5]
[99, 2, 3, 4]

In [ ]:
my_list = ['xyz', 'XYZ' 'abc', 'ABC']
print("Index for xyz : ",  my_list.index( 'xyz' ))
print("Index for ABC : ",  my_list.index( 'ABC' ))

Index for xyz :  0
Index for ABC :  2

In [ ]:
my_list = ['xyz', 'XYZ' 'abc', 'ABC']
print("Count for xyz : ",  my_list.count( 'xyz' ))
print("Count for ABC : ",  my_list.count( 'ABC' ))

Count for xyz :  1
Count for ABC :  1

In [ ]:
import math
def bin_search(li, element):
    bottom = 0
    top = len(li)-1
    index = -1
    while top >= bottom and index == -1:
        mid = int(math.floor((top+bottom) / 2.0))
        if li[mid] == element:
            index = mid
        elif li[mid] > element:
            top = mid-1
        else:
            bottom = mid+1

    return index

li=[2,5,7,9,11,17,222]
print(bin_search(li,11))
print(bin_search(li,102))

4
-1

In [ ]:
values = []
li = [12,24,35,70,88,120]
for (i,x) in enumerate(li):
   if i not in (0,3):
     li = x
     values.append(li)

print(values)

[24, 35, 88, 120]

In [ ]:
def list_update(data):
    new_li=[]
    new_set = set()
    for item in data:
        if item not in new_set:
            new_set.add(item)
            new_li.append(item)

    return new_li

list_test=[120,120,10,20,30,20]
print(list_update(list_test))

[120, 10, 20, 30]

In [ ]:
from operator import itemgetter
l = []
while True:
    s = input()
    if not s:
        break
    l.append(tuple(s.split(",")))

print(sorted(l, key=itemgetter(0,1,2)))

# 입력 테스트 시, dave,B,10 처럼 입력하기(위의 참고문서 링크 참고해서 데이터 넣기)
# 입력 중단하고자 할 때는 엔터 입력

d,3,4,1,3,4,5,

[('d', '3', '4', '1', '3', '4', '5', '')]

In [ ]:
#get 이해하기 

a = {'a' : 0, 'b' : 1}

In [ ]:
a.get('a')

0

In [ ]:
a.get('c',2)

2

In [ ]:
a

{'a': 0, 'b': 1}

In [ ]:
dic = {}
s=input()
for s in s:
    dic[s] = dic.get(s,0)+1
print('\n'.join(['%s,%s' % (k, v) for k, v in dic.items()]))

1
1,1

In [ ]:
# 인라인 코드 작성 예시
b = 1
a = 1 if b==2 else (2 if b>3 else 3)
print(a)

3

In [1]:
# 함수정의
define_word = (lambda word1,define :  word1 * define)

# 함수호출
result = define_word('call_result_',5)

# 결과출력
print(result)

call_result_call_result_call_result_call_result_call_result_

In [2]:
# 리스트 생성
spelling = ["test1", "test2", "test4 test5", "test3"]

# 람다함수적용
shout_spells = map(lambda item : item + ('!!!'), spelling)

# 리스트형태로 변환
shout_spells_list = list(shout_spells)

# 결과출력
print(shout_spells_list)

['test1!!!', 'test2!!!', 'test4 test5!!!', 'test3!!!']

In [3]:
# 리스트 생성
fellowship = ['frodo', 'samwise', 'merry', 'pippin', 'aragorn', 'boromir', 'legolas', 'gimli', 'gandalf']

# 람다함수적용
result = filter(lambda member : len(member) > 6, fellowship)

# 리스트형태로 변환
result_list = list(result)

# 결과출력
print(result_list)

['samwise', 'aragorn', 'boromir', 'legolas', 'gandalf']

In [4]:
# functools 모듈 사용
from functools import reduce

# 리스트 생성
stark = ['robb', 'sansa', 'arya', 'brandon', 'rickon']

# 람다함수적용
result = reduce(lambda item1, item2 : item1+item2, stark)

# 결과출력
print(result)

robbsansaaryabrandonrickon