<a href="https://colab.research.google.com/github/Alice1304/1day1commit/blob/main/%ED%8C%8C.%EB%A8%B8.%ED%8C%90.%EB%8D%B0./Part1/series_index_0918.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

#리스트 만들기 

list = ['오늘', '점심은','아마','참야비']
lunch = pd.Series(list)
lunch

0     오늘
1    점심은
2     아마
3    참야비
dtype: object

In [5]:
lunch.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
lunch.values

array(['오늘', '점심은', '아마', '참야비'], dtype=object)

In [7]:
#튜플 데이터를 시리즈로 변환하기 (옵션 따로 지정)

seventeen = ('세븐틴', 13 , 3 , '아낀다', True)
sr = pd.Series(seventeen, index=['그룹명','멤버수','유닛수','데뷔곡','활동여부'])

In [8]:
sr

그룹명      세븐틴
멤버수       13
유닛수        3
데뷔곡      아낀다
활동여부    True
dtype: object

In [9]:
#그룹명을 출력하는 두가지 방법

In [10]:
sr[0]

'세븐틴'

In [11]:
sr['그룹명']

'세븐틴'

In [ ]:
#그룹명과 데뷔곡 출력하기

In [14]:
sr[[0,3]]

그룹명    세븐틴
데뷔곡    아낀다
dtype: object

In [15]:
sr[['그룹명','데뷔곡']]

그룹명    세븐틴
데뷔곡    아낀다
dtype: object

In [16]:
#그룹명~유닛수까지 프린트하기

In [17]:
sr[0:3]

그룹명    세븐틴
멤버수     13
유닛수      3
dtype: object

In [19]:
sr['그룹명':'유닛수']

그룹명    세븐틴
멤버수     13
유닛수      3
dtype: object